
body {
	font-family:'Times New Roman', Times, Georgia, serif;
	width: 100%;
	background-color: rgb(192,192,192);
}


.leftsection{
	background-color: rgba(0, 200, 255, 0.4);
	border-radius: 5px;
	width: 20%;
	border-radius: 5px; 
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
}

.rightsection{
	background-color: rgba(0, 200, 255, 0.4);
	border-radius: 5px;
	margin-left: 50%;
	width: 20%;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

}

 .pure-g section,
 .pure-g article,
 .pure-g aside,
 .pure-g div {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;

 border-radius: 50px;
 }
p{
padding: 2%;
font-size: 1.2em;
font-family:'Times New Roman', Times, Georgia, serif;
}
.blue{
	background-color: rgba(0, 200, 255, 0.4);
	border: 1px solid darkgrey;

}
.logo{
	height: 100%;
	width: 100%;
}
.pure-menu-heading,
.pure-menu-item {
	display: inline-block;
	width: 18%;
}
.pure-table-horizontal{
	width: 100%;
}
tr{
	background-color: rgba(0, 200, 255, 0.4); 
}
.difcolor{
	background-color: rgba(61, 213, 255, 0.4); 
}
h1{
	margin: 3%;
	font-size: 2em;
}


@media screen and (max-width: 48em){
	.pure-menu-heading,
	.pure-menu-item {
	display: block;
	width: 100%;
	}
	p{
		font-size: 1.3em;
	}
	h1{
	margin: 3%;
	font-size: 1.1em;
	}
	.pure-form,
	.pure-form-aligned{
	padding: 4%;
	}
}